<!DOCTYPE html>
<html>
<head>
  <title>Onomomi</title>
  <%= stylesheet_link_tag :all %>
	<%= javascript_include_tag 'jquery-1.4.2.min.js' %>
	<%= javascript_include_tag 'jquery-ui' %>
	<%= javascript_include_tag 'event_handlers' %>
	<%= javascript_include_tag 'application' %>
	<style type="text/css">
	  html { height: 100% }
	  /*body { height: 100%; margin: 0px; padding: 0px }*/
	 
	</style>
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
  <%#= csrf_meta_tag %>
	<%= yield(:head) %>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="cw-blue-border">
				<h1 style="display:inline">Onomomi</h1>
				<h4 style="display:inline">One More Mile: Endurance events around the world</h4>
			<span "display:inline">
				<a href="/" class="button">Events</a>
				<% if (self.current_user == nil)%>
							<a class="rpxnow button" onclick="return false;"
							href="https://onomomi.rpxnow.com/openid/v2/signin?token_url=<%= h token_url %>&return_url=/events/new"> Post </a>
				<% else %>
				<a href="/events/new" class="button">Post New Event</a>
				<% end %>
				<% if (self.current_user == nil)%>
				<a class="rpxnow button" onclick="return false;"
				href="https://onomomi.rpxnow.com/openid/v2/signin?token_url=<%= h token_url %>"> Sign In </a>
				<% else %>
				<!--Hello <%= self.current_user.friendly %>!-->
				<%= link_to 'Log Out', { :controller	=> 'account', :action => 'logout' }, :class => 'button' %>
				<%#= image_tag(session['photo_url'], :class => 'button', :height => '29' )%>
				<% end %>
				</span>
			</div>
		</div>
		<div id="content" class="cw-blue-border">
			<%= yield -%>
		</div>
	</div>
	<script type="text/javascript">
	  var rpxJsHost = (("https:" == document.location.protocol) ? "https://" : "http://static.");
	  document.write(unescape("%3Cscript src='" + rpxJsHost +
	"rpxnow.com/js/lib/rpx.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	  RPXNOW.overlay = true;
	  RPXNOW.language_preference = 'en';
	</script>
	<script type="text/javascript">
		$(function() {
			$('.button, input:submit').button();
			
		});
	</script>
</body>
</html>

